[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pillow = "*"
pyscreenshot = "*"
matplotlib = "*"
sklearn = "*"

[requires]
python_version = "3.9"

[dev-packages]
